p.now {
  position: relative;
  min-height: 4em;

  &::before {
    content: attr(data-emoji);
    opacity: 0.11;
    position: absolute;
    left: 0.5em;
    top: 50%;
    transform: translateY(-50%);
    font-size: 4em;
    filter: blur(0.4px);
  }
}

aside.now {
  font-style: oblique;
  color: darkgray;
}