jp-header {
  background-image: image-set(
    url("/css/images/banner@2x.jpg") 2x,
    url("/css/images/banner.jpg") 1x
  );
  &.woodworking {
    background-image: image-set(
      url("/css/images/banner-woodworking@2x.jpg") 2x,
      url("/css/images/banner-woodworking.jpg") 1x
    );
    background-size: contain;
  }

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-weight: 900;
  font-family:
    system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  transition: all 0.25s;
  font-weight: 900;
  background-position: center;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent !important;

  text-align: center;
  font-size: 4rem;
  line-height: 1.4em;
  padding-top: 0.5em;

  a {
    text-decoration: none;
    font-weight: 500;
    color: transparent;
  }

  .title {
    font-size: 2em;
    text-decoration-line: overline underline;
    letter-spacing: -3px;
  }

  .subtitle {
    font-size: 1em;
    text-transform: lowercase;
    font-style: italic;
    letter-spacing: -1px;
  }

  menu {
    padding: 0;
    display: flex;
    justify-content: center;
    column-gap: 1.5em;
    flex-flow: row wrap;
    list-style: none;
    font-size: 0.7em;
    text-transform: lowercase;
    margin-top: 0.7em;
    line-height: 1em;
    li {
      &:hover {
        font-style: oblique;
        text-decoration: underline;
        text-decoration-color: var(--antique-brass);
      }
    }
  }
}
