/* Box */

.box {
  background: #fff;
  box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.1);
  margin-bottom: 2em;
  padding: 2.25em;
}

.box > :last-child,
.box > :last-child > :last-child,
.box > :last-child > :last-child > :last-child {
  margin-bottom: 0;
}

.box.special {
  padding: 3em 2.25em;
}

.box.alt {
  background: none;
  box-shadow: none;
  padding: 0;
}